body{
    /*background-image: url('/assets/css/pexels-kubiceknov-924824.jpg');*/
    background-color: #181920ee;

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #12131ae1;
    color:white;

    p{
        margin: 0px 0px -5px;
    }
  }
  .side{
   justify-content: space-between;
   padding: 15px;
   display: flex;
   color: rgb(255, 255, 255);
  }

  .main {
    margin-left: 180px;
    padding: 0% 8%;
    color: rgb(255, 255, 255);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #90b1cc00;
    
  }

  .grid-container > div {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 0;
    font-size: 30px;
  }

  .top-right {
    position: absolute;
    top: 8px;
    right: 1300px;
  }


}
