body{
    /* background-image: url('/assets/css/pexels-kubiceknov-924824.jpg'); */
    background-color: #181920ee;

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #12131a9f;
    color:white

  }
  .side{
   justify-content: space-between;
   padding: 15px;
   display: flex;
   color: rgb(255, 255, 255);
  }
  .main {
    margin-left: 160px;
    padding: 0% 13%;
    color: red;
  }
}
